body{
  text-align: center;
  background: rgb(236, 235, 235);
}
#container{
  margin: 2% 10px;
  
  display:grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
}
#card{
width:300px;
height:475px;
background: white;
margin:10px 0px 30px 80px;
border-radius: 5px;
}
#card h3{
border: 1px solid black ;
height:45px;
border-radius: 5px;
padding-top: 15px;
margin-top:0px;
}

#card p{
  margin: 20px;
  color:rgb(121, 114, 114)
}

footer{
  margin-top:5px ;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer a{
  color:black;
}